.navbar{
    position: sticky;
    top: 0;
    /*left: 0;
    right: 0;*/

    /*width: 100%;*/

    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem;

    display: flex;
    align-items: center;

    border-bottom: 1px solid rgb(82, 82, 82);
    color: #FFF;
}

.navbar-group{
    flex-grow: 4;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-item{
    list-style-type: none;
}

.navbar-item a{
    padding: 0.2rem 0.5rem;
    border-radius: 1.25rem;

    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
}

.navbar-item a.active{
    background-color: #FFF;
    color: black;
}

.navbar-auth{
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}