.chapter-root p{
    font-size: 3vh;
    margin-bottom: 1rem ;
}
.chapter-root h2{
    font-size: 5vh;
}

.photo-collage-1{
    display: flex;
    width: 100%;
    justify-content: center;
   

  
}
.photo-collage-1 img{
    width: 100%;
    align-items: center;
}


.photo-collage-2{
display: flex;
height: 100%;
width: 100%;

    
  

}
.photo-collage-2 img{
    height: 50%;
    width: 50%;
    aspect-ratio: 1/1;
    
   
}
.photo-collage-3{
    display: flex;
width: 100%;
justify-content: ;

}
.photo-collage-3 img{
    width: 33%;
    aspect-ratio: 1/1;

}

