.education-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.education-item {
    flex-basis: 300px;
    aspect-ratio: 1/1;
    border: 2px solid white;
}

.education-item h2{
    text-align: center;
    font-weight: 600;
}

.education-item-image img{
    height: 50px;
    width: 50px;
}